.main {
    padding-left: 180px;
    padding-right: 160px;
    padding-top: 50px;
    width: 100%;
}

#identify {
    background: #fff;
    padding: 30px 60px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.item-cert{
    background: #3DB399 none repeat scroll 0 0;
}

.item-cert a{
    color: #fff!important;
}

#renren_id {
    margin-bottom: 10px;
}
.id_ways {
    background: #F6F9F9;
    padding: 30px;
}

.id_right_part {
    float: right;
}

.id_left_part {
    width: 410px;
}

.id_left_part img {
    float: left;
}

.id_info {
    float: left;
    font: 14px;
    margin-top: 16px;
    margin-left: 30px;
}

#renren_id h1 {
    color: #3178BC;
}
.id_info h1 {
    font: 18px;
    margin-bottom: 10px;
}

.id_info p {
    line-height: 30px;
    color: #666666;
}

.id_info p {
    line-height: 30px;
    color: #666666;
}

.id_ways {
    background: #F6F9F9;
    padding: 30px;
}

.id_right_part {
    float: right;
}

.id_left_part {
    width: 410px;
}

.id_left_part img {
    float: left;
}

.id_info {
    float: left;
    font: 14px;
    margin-top: 16px;
    margin-left: 30px;
}

#student_id h1 {
    color: #D55C4B;
}
.id_info h1 {
    font: 18px;
    margin-bottom: 10px;
}

.id_info p {
    line-height: 30px;
    color: #666666;
    margin-bottom: 0px!important;
}

.id_it {
    text-align: center;
    display: inline-block;
    height: 40px;
    margin-top: 45px;
    overflow: hidden;
    white-space: nowrap;
    width: 140px;
    padding: 10px 20px;
    border: 1px solid rgb(61,179,153);
    border-radius: 20px;
    transition: background-color 0.5s,color 0.5s, border 0.1s;
}

.id_it:hover {
    background-color: rgb(61,179,153);
    color: #fff;
    border: none;
}

a {
    transition: color 0.2s ease 0s;
}