<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.AdminMapper">
    <select id="isLogin" resultType="cn.doreou.model.Admin">
      select * from t_admin where admin_id=#{admin_id} and admin_password=#{admin_password}
    </select>
    <select id="getByAdminID" resultType="cn.doreou.model.Admin">
      select * from t_admin where admin_id=#{admin_id}
    </select>
    <select id="getAllSubject" resultType="cn.doreou.model.Book">
      select * from t_book limit #{start},#{pageSize}
    </select>
    <insert id="RegisterAdmin" parameterType="cn.doreou.model.Admin">
        insert into t_admin(admin_id, admin_name, admin_sex, admin_location, admin_phone, admin_wechat, admin_password, admin_icon, admin_email, admin_type) value (#{admin_id},#{admin_name},#{admin_sex},#{admin_location},#{admin_phone},#{admin_wechat},#{admin_password},#{admin_icon},#{admin_email},#{admin_type})
    </insert>
    <select id="getSubjectCount" resultType="INT">
      select count(*) from t_book
    </select>
    <delete id="deleteSubject" parameterType="STRING">
        delete from t_book where subject=#{subject}
    </delete>
    <update id="updateSubject" parameterType="cn.doreou.model.Book">
        update t_book set subject=#{subject},icon=#{icon} where subject_id=#{subject_id}
    </update>
    <insert id="addNewSubject" parameterType="cn.doreou.model.Book">
        insert into t_book (subject_id,subject, icon) value (#{subject_id},#{subject},#{icon})
    </insert>
    <select id="getAllApply" resultType="cn.doreou.model.Applyer">
        select * from t_apply limit #{start},#{pageSize};
    </select>
    <select id="getAllApplyCount" resultType="INT">
        select count(*) from t_apply
    </select>
    <select id="getOneApply" resultType="cn.doreou.model.Applyer">
        select * from t_apply where apply_id=#{apply_id}
    </select>
    <select id="getAllUser" resultType="cn.doreou.model.User">
        select * from t_user;
    </select>
    <update id="ApplyPass">
        update t_apply set status=1,apply_adm=#{apply_adm},reply_title=#{reply_title},reply=#{reply},check_time=#{check_time} where apply_id=#{apply_id}
    </update>
    <update id="ApplyRefused">
        update t_apply set status=-1,apply_adm=#{apply_adm},reply_title=#{reply_title},reply=#{reply},check_time=#{check_time} where apply_id=#{apply_id}
    </update>
    <select id="getAllAdmin" resultType="cn.doreou.model.Admin">
        select * from t_admin limit #{start},#{pageSize}
    </select>
    <select id="getAllAdminCount" resultType="INT">
        select count(*) from t_admin
    </select>
    <select id="getAllAdminType" resultType="cn.doreou.model.AdminType">
        select * from t_admintype;
    </select>
    <select id="getAllCarousel" resultType="cn.doreou.model.Carousel">
      select * from t_carousel limit #{start},#{pageSize};
    </select>
    <select id="getAllCarouselCount" resultType="INT">
      select count(*) from t_carousel;
    </select>
    <insert id="addNewCarousel" parameterType="cn.doreou.model.Carousel">
        insert into t_carousel (carousel_pic, carousel_info, carousel_start, carousel_end, carousel_visible) values (#{carousel_pic},#{carousel_info},#{carousel_start},#{carousel_end},#{carousel_visible});
    </insert>
    <delete id="deleteCarousel" parameterType="INT">
        delete from t_carousel where carousel_id=#{carousel_id}
    </delete>
    <update id="updateCarousel" parameterType="cn.doreou.model.Carousel">
        update t_carousel set carousel_start=#{carousel_start},carousel_end=#{carousel_end},carousel_pic=#{carousel_pic},carousel_info=#{carousel_info},carousel_visible=#{carousel_visible} where carousel_id=#{carousel_id}
    </update>
    <update id="updateAdminInfo" parameterType="cn.doreou.model.Admin">
        update t_admin set admin_email=#{admin_email},admin_icon=#{admin_icon},admin_location=#{admin_location},admin_phone=#{admin_phone},admin_sex=#{admin_sex},admin_wechat=#{admin_wechat} where admin_id=#{admin_id}
    </update>
    <select id="getPermission" resultType="cn.doreou.model.AdminType">
        select * from t_admintype where type=#{type}
    </select>
    <select id="getUserCountOfMan" resultType="INT">
        select count(*) from t_user where sex='男'
    </select>
    <select id="getUserCountOfWoman" resultType="INT">
        select count(*) from t_user where sex='女'
    </select>
    <select id="getUserCountOfNoRecord" resultType="INT">
        select count(*) from t_user where sex=''
    </select>
    <select id="getAllUserInfo" resultType="cn.doreou.model.User">
        select user_id,username,label,age,sex,join_time,icon,member_status from t_user limit #{start},#{pageSize};
    </select>
    <select id="getAllUserInfoOfCount" resultType="INT">
        select count(*) from t_user;
    </select>
    <select id="getAllAdminTypePage" resultType="cn.doreou.model.AdminType">
        select * from t_admintype limit #{start},#{pageSize}
    </select>
    <select id="getAllCountOfAdminType" resultType="INT">
        select count(*) from t_admintype
    </select>
    <update id="updatePermission" parameterType="cn.doreou.model.AdminType">
        update t_admintype set type=#{type},user_permission=#{user_permission},subject_permission=#{subject_permission},carousel_permission=#{carousel_permission},cert_permission=#{cert_permission},sendmsg_permission=#{sendmsg_permission},message_permission=#{message_permission},report_permission=#{report_permission},adm_permission=#{adm_permission},permission=#{permission},job_permission=#{job_permission},goods_permission=#{goods_permission} where type_id=#{type_id}
    </update>
    <select id="getAllGoods" resultType="cn.doreou.model.Goods">
        select * from t_goods limit #{start},#{pageSize}
    </select>
    <select id="getAllGoodsCount" resultType="INT">
        select count(*) from t_goods;
    </select>

    <update id="underCarriage" parameterType="String">
        update t_goods set isundercarriage=0 where goods_id=#{goods_id};
    </update>
    <delete id="deleteGoods" parameterType="String">
        delete from t_goods where goods_id=#{goods_id}
    </delete>
    <update id="updateGoodsInfo" parameterType="cn.doreou.model.Goods">
        update t_goods set goods_title=#{goods_title},introduce=#{introduce},cover=#{cover},subject=#{subject} where goods_id=#{goods_id}
    </update>
</mapper>