<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.AdminMapper">
    <select id="isLogin" resultType="cn.doreou.model.Admin">
      select * from t_admin where admin_id=#{admin_id} and admin_password=#{admin_password}
    </select>
    <select id="getByAdminID" resultType="cn.doreou.model.Admin">
      select * from t_admin where admin_id=#{admin_id}
    </select>
    <select id="getAllSubject" resultType="cn.doreou.model.Book">
      select * from t_book
        <where>
            <if test="subject!=null and subject!=''">
             and subject like CONCAT(CONCAT('%', #{subject}), '%')
            </if>
        </where>
    limit #{start},#{pageSize}
    </select>
    <insert id="RegisterAdmin" parameterType="cn.doreou.model.Admin">
        insert into t_admin(admin_id, admin_name, admin_sex, admin_location, admin_phone, admin_wechat, admin_password, admin_icon, admin_email, admin_type) value (#{admin_id},#{admin_name},#{admin_sex},#{admin_location},#{admin_phone},#{admin_wechat},#{admin_password},#{admin_icon},#{admin_email},#{admin_type})
    </insert>
    <select id="getSubjectCount" resultType="INT">
      select count(*) from t_book
    </select>
    <delete id="deleteSubject" parameterType="STRING">
        delete from t_book where subject=#{subject}
    </delete>
    <update id="updateSubject" parameterType="cn.doreou.model.Book">
        update t_book set subject=#{subject},icon=#{icon} where subject_id=#{subject_id}
    </update>
    <insert id="addNewSubject" parameterType="cn.doreou.model.Book">
        insert into t_book (subject_id,subject, icon) value (#{subject_id},#{subject},#{icon})
    </insert>
    <select id="getAllApply" resultType="cn.doreou.model.Applyer">
        select * from t_apply
        <where>
            <if test="searchpojo.user_id!=null and searchpojo.user_id!=''">
                and user_id like CONCAT(CONCAT('%', #{searchpojo.user_id}), '%')
            </if>
            <if test="searchpojo.name!=null and searchpojo.name!=''">
                and name like CONCAT(CONCAT('%', #{searchpojo.name}), '%')
            </if>
            <if test="searchpojo.major!=null and searchpojo.major!=''">
                and major like CONCAT(CONCAT('%', #{searchpojo.major}), '%')
            </if>
            <if test="searchpojo.job!=null and searchpojo.job!=''">
                and job like CONCAT(CONCAT('%', #{searchpojo.job}), '%')
            </if>
            <if test="searchpojo.status!=null and searchpojo.status!=''">
                and status=#{searchpojo.status}
            </if>
        </where>
        limit #{start},#{pageSize};
    </select>
    <select id="getAllApplyCount" resultType="INT">
        select count(*) from t_apply
        <where>
            <if test="searchpojo.user_id!=null and searchpojo.user_id!=''">
                and user_id like CONCAT(CONCAT('%', #{searchpojo.user_id}), '%')
            </if>
            <if test="searchpojo.name!=null and searchpojo.name!=''">
                and name like CONCAT(CONCAT('%', #{searchpojo.name}), '%')
            </if>
            <if test="searchpojo.major!=null and searchpojo.major!=''">
                and major like CONCAT(CONCAT('%', #{searchpojo.major}), '%')
            </if>
            <if test="searchpojo.job!=null and searchpojo.job!=''">
                and job like CONCAT(CONCAT('%', #{searchpojo.job}), '%')
            </if>
            <if test="searchpojo.status!=null and searchpojo.status!=''">
                and status like CONCAT(CONCAT('%', #{searchpojo.status}), '%')
            </if>
        </where>
    </select>
    <select id="getOneApply" resultType="cn.doreou.model.Applyer">
        select * from t_apply where apply_id=#{apply_id}
    </select>
    <select id="getAllUser" resultType="cn.doreou.model.User">
        select * from t_user;
    </select>
    <update id="ApplyPass">
        update t_apply set status=1,apply_adm=#{apply_adm},reply_title=#{reply_title},reply=#{reply},check_time=#{check_time} where apply_id=#{apply_id}
    </update>
    <update id="ApplyRefused">
        update t_apply set status=-1,apply_adm=#{apply_adm},reply_title=#{reply_title},reply=#{reply},check_time=#{check_time} where apply_id=#{apply_id}
    </update>
    <select id="getAllAdmin" resultType="cn.doreou.model.Admin">
        select * from t_admin
        <where>
            <if test="searchpojo.admin_id!=null and searchpojo.admin_id!=''">
                and admin_id like CONCAT(CONCAT('%', #{searchpojo.admin_id}), '%')
            </if>
            <if test="searchpojo.admin_name!=null and searchpojo.admin_name!=''">
                and admin_name like CONCAT(CONCAT('%', #{searchpojo.admin_name}), '%')
            </if>
            <if test="searchpojo.admin_type!=null and searchpojo.admin_type!=''">
                and admin_type like CONCAT(CONCAT('%', #{searchpojo.admin_type}), '%')
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
    <select id="getAllAdminCount" resultType="INT">
        select count(*) from t_admin
        <where>
            <if test="searchpojo.admin_id!=null and searchpojo.admin_id!=''">
                and admin_id like CONCAT(CONCAT('%', #{searchpojo.admin_id}), '%')
            </if>
            <if test="searchpojo.admin_name!=null and searchpojo.admin_name!=''">
                and admin_name like CONCAT(CONCAT('%', #{searchpojo.admin_name}), '%')
            </if>
            <if test="searchpojo.admin_type!=null and searchpojo.admin_type!=''">
                and admin_type like CONCAT(CONCAT('%', #{searchpojo.admin_type}), '%')
            </if>
        </where>
    </select>
    <select id="getAllAdminType" resultType="cn.doreou.model.AdminType">
        select * from t_admintype;
    </select>
    <select id="getAllCarousel" parameterType="cn.doreou.model.SearchPojo" resultType="cn.doreou.model.Carousel">
      select * from t_carousel
       <where>
           <if test="searchpojo.carousel_info!=null and searchpojo.carousel_info!=''">
              and carousel_info like CONCAT(CONCAT('%', #{searchpojo.carousel_info}), '%')
           </if>
           <if test="searchpojo.carousel_start!=null and searchpojo.carousel_start!=''">
              and carousel_start like CONCAT(CONCAT('%', #{searchpojo.carousel_start}), '%')
           </if>
           <if test="searchpojo.carousel_end!=null and searchpojo.carousel_end!=''">
               and carousel_end like CONCAT(CONCAT('%', #{searchpojo.carousel_end}), '%')
           </if>
       </where>
       limit #{start},#{pageSize};
    </select>
    <select id="getAllCarouselCount" resultType="INT">
      select count(*) from t_carousel
        <where>
            <if test="searchpojo.carousel_info!=null and searchpojo.carousel_info!=''">
                and carousel_info like CONCAT(CONCAT('%', #{searchpojo.carousel_info}), '%')
            </if>
            <if test="searchpojo.carousel_start!=null and searchpojo.carousel_start!=''">
                and carousel_start like CONCAT(CONCAT('%', #{searchpojo.carousel_start}), '%')
            </if>
            <if test="searchpojo.carousel_end!=null and searchpojo.carousel_end!=''">
                and carousel_end like CONCAT(CONCAT('%', #{searchpojo.carousel_end}), '%')
            </if>
        </where>
    </select>
    <insert id="addNewCarousel" parameterType="cn.doreou.model.Carousel">
        insert into t_carousel (carousel_pic, carousel_info, carousel_start, carousel_end, carousel_visible) values (#{carousel_pic},#{carousel_info},#{carousel_start},#{carousel_end},#{carousel_visible});
    </insert>
    <delete id="deleteCarousel" parameterType="INT">
        delete from t_carousel where carousel_id=#{carousel_id}
    </delete>
    <update id="updateCarousel" parameterType="cn.doreou.model.Carousel">
        update t_carousel set carousel_start=#{carousel_start},carousel_end=#{carousel_end},carousel_pic=#{carousel_pic},carousel_info=#{carousel_info},carousel_visible=#{carousel_visible} where carousel_id=#{carousel_id}
    </update>
    <update id="updateAdminInfo" parameterType="cn.doreou.model.Admin">
        update t_admin set admin_email=#{admin_email},admin_icon=#{admin_icon},admin_location=#{admin_location},admin_phone=#{admin_phone},admin_sex=#{admin_sex},admin_wechat=#{admin_wechat} where admin_id=#{admin_id}
    </update>
    <select id="getPermission" resultType="cn.doreou.model.AdminType">
        select * from t_admintype where type=#{type}
    </select>
    <select id="getUserCountOfMan" resultType="INT">
        select count(*) from t_user where sex='男'
    </select>
    <select id="getUserCountOfWoman" resultType="INT">
        select count(*) from t_user where sex='女'
    </select>
    <select id="getUserCountOfNoRecord" resultType="INT">
        select count(*) from t_user where sex=''
    </select>
    <select id="getAllUserInfo" resultType="cn.doreou.model.User">
        select user_id,username,label,age,sex,join_time,icon,member_status from t_user
        <where>
            <if test="searchpojo.user_id!=null and searchpojo.user_id!=''">
                and user_id like CONCAT(CONCAT('%', #{searchpojo.user_id}), '%')
            </if>
            <if test="searchpojo.sex!=null and searchpojo.sex!=''">
                and sex like CONCAT(CONCAT('%', #{searchpojo.sex}), '%')
            </if>
            <if test="searchpojo.member_status!=null and searchpojo.member_status!=''">
                and member_status like CONCAT(CONCAT('%', #{searchpojo.member_status}), '%')
            </if>
        </where>
        limit #{start},#{pageSize};
    </select>
    <select id="getAllUserInfoOfCount" resultType="INT">
        select count(*) from t_user
        <where>
            <if test="searchpojo.user_id!=null and searchpojo.user_id!=''">
                and user_id like CONCAT(CONCAT('%', #{searchpojo.user_id}), '%')
            </if>
            <if test="searchpojo.sex!=null and searchpojo.sex!=''">
                and sex like CONCAT(CONCAT('%', #{searchpojo.sex}), '%')
            </if>
            <if test="searchpojo.member_status!=null and searchpojo.member_status!=''">
                and member_status like CONCAT(CONCAT('%', #{searchpojo.member_status}), '%')
            </if>
        </where>
    </select>
    <select id="getAllAdminTypePage" resultType="cn.doreou.model.AdminType">
        select * from t_admintype limit #{start},#{pageSize}
    </select>
    <select id="getAllCountOfAdminType" resultType="INT">
        select count(*) from t_admintype
    </select>
    <update id="updatePermission" parameterType="cn.doreou.model.AdminType">
        update t_admintype set type=#{type},user_permission=#{user_permission},subject_permission=#{subject_permission},carousel_permission=#{carousel_permission},cert_permission=#{cert_permission},sendmsg_permission=#{sendmsg_permission},message_permission=#{message_permission},report_permission=#{report_permission},adm_permission=#{adm_permission},permission=#{permission},job_permission=#{job_permission},goods_permission=#{goods_permission} where type_id=#{type_id}
    </update>
    <select id="getAllGoods" resultType="cn.doreou.model.Goods">
        select * from t_goods
        <where>
            <if test="searchpojo.goods_title!=null and searchpojo.goods_title!=''">
                and goods_title like CONCAT(CONCAT('%', #{searchpojo.goods_title}), '%')
            </if>
            <if test="searchpojo.introduce!=null and searchpojo.introduce!=''">
                and introduce like CONCAT(CONCAT('%', #{searchpojo.introduce}), '%')
            </if>
            <if test="searchpojo.time!=null and searchpojo.time!=''">
                and time like CONCAT(CONCAT('%', #{searchpojo.time}), '%')
            </if>
            <if test="searchpojo.owner_id!=null and searchpojo.owner_id!=''">
                and owner_id like CONCAT(CONCAT('%', #{searchpojo.owner_id}), '%')
            </if>
            <if test="searchpojo.status!=null and searchpojo.status!=''">
                and status=#{searchpojo.status}
            </if>
            <if test="searchpojo.subject!=null and searchpojo.subject!=''">
                and subject like CONCAT(CONCAT('%', #{searchpojo.subject}), '%')
            </if>
            <if test="searchpojo.type!=null and searchpojo.type!=''">
                and type like CONCAT(CONCAT('%', #{searchpojo.type}), '%')
            </if>
            <if test="searchpojo.isundercarriage!=null and searchpojo.isundercarriage!=''">
                and isundercarriage=#{searchpojo.isundercarriage}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
    <select id="getAllGoodsCount" resultType="INT">
        select count(*) from t_goods
        <where>
            <if test="searchpojo.goods_title!=null and searchpojo.goods_title!=''">
                and goods_title like CONCAT(CONCAT('%', #{searchpojo.goods_title}), '%')
            </if>
            <if test="searchpojo.introduce!=null and searchpojo.introduce!=''">
                and introduce like CONCAT(CONCAT('%', #{searchpojo.introduce}), '%')
            </if>
            <if test="searchpojo.time!=null and searchpojo.time!=''">
                and time like CONCAT(CONCAT('%', #{searchpojo.time}), '%')
            </if>
            <if test="searchpojo.owner_id!=null and searchpojo.owner_id!=''">
                and owner_id like CONCAT(CONCAT('%', #{searchpojo.owner_id}), '%')
            </if>
            <if test="searchpojo.status!=null and searchpojo.status!=''">
                and status=#{searchpojo.status}
            </if>
            <if test="searchpojo.subject!=null and searchpojo.subject!=''">
                and subject like CONCAT(CONCAT('%', #{searchpojo.subject}), '%')
            </if>
            <if test="searchpojo.type!=null and searchpojo.type!=''">
                and type like CONCAT(CONCAT('%', #{searchpojo.type}), '%')
            </if>
            <if test="searchpojo.isundercarriage!=null and searchpojo.isundercarriage!=''">
                and isundercarriage=#{searchpojo.isundercarriage}
            </if>
        </where>
    </select>

    <update id="underCarriage" parameterType="String">
        update t_goods set isundercarriage=0 where goods_id=#{goods_id};
    </update>
    <delete id="deleteGoods" parameterType="String">
        delete from t_goods where goods_id=#{goods_id}
    </delete>
    <update id="updateGoodsInfo" parameterType="cn.doreou.model.Goods">
        update t_goods set goods_title=#{goods_title},introduce=#{introduce},cover=#{cover},subject=#{subject} where goods_id=#{goods_id}
    </update>
    <update id="updateUserStatus" parameterType="cn.doreou.model.User">
        update t_user set status=0,ban_end=#{ban_end} where user_id=#{user_id}
    </update>
    <update id="cancelCert" parameterType="STRING">
        update t_user set member_status=0 where user_id=#{user_id}
    </update>
    <delete id="deleteAdmin" parameterType="String">
        delete from t_admin where admin_id=#{admin_id}
    </delete>
    <delete id="deleteUser" parameterType="STRING">
        delete from t_user where user_id=#{user_id}
    </delete>
    <select id="getCertCount" resultType="int">
        select count(*) from t_user where member_status=1
    </select>
    <select id="getUnCertCount" resultType="int">
        select count(*) from t_user where member_status=0
    </select>
</mapper>