<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.AdminMapper">
    <select id="isLogin" resultType="cn.doreou.model.Admin">
      select * from t_admin where admin_id=#{admin_id} and admin_password=#{admin_password}
    </select>
    <select id="getByAdminID" resultType="cn.doreou.model.Admin">
      select * from t_admin where admin_id=#{admin_id}
    </select>
    <select id="getAllSubject" resultType="cn.doreou.model.Book">
      select * from t_book limit #{start},#{pageSize}
    </select>
    <select id="getSubjectCount" resultType="INT">
      select count(*) from t_book
    </select>
    <delete id="deleteSubject" parameterType="STRING">
        delete from t_book where subject=#{subject}
    </delete>
    <update id="updateSubject" parameterType="cn.doreou.model.Book">
        update t_book set subject=#{subject},icon=#{icon} where subject_id=#{subject_id}
    </update>
    <insert id="addNewSubject" parameterType="cn.doreou.model.Book">
        insert into t_book (subject_id,subject, icon) value (#{subject_id},#{subject},#{icon})
    </insert>
    <!--Cert-->
    <select id="getAllCert" resultType="cn.doreou.model.Cert">
      select * from t_cert limit #{start},#{pageSize}
    </select>
        <select id="getCertCount" resultType="INT">
      select count(*) from t_cert
    </select>
    <select id="getOneCert" parameterType="INT" resultType="cn.doreou.model.Cert">
        select * from t_cert where cert_id=#{cert_id};
    </select>
    <delete id="deleteCert" parameterType="INT">
        delete from t_cert where cert_id=#{cert_id}
    </delete>
    <update id="updateCertStatus" parameterType="INT">
        update t_cert set status=1,adm_id='1111',adm_time='2019-4-22' where cert_id=#{cert_id}
    </update>
    <select id="getAllApply" resultType="cn.doreou.model.Applyer">
        select * from t_apply limit #{start},#{pageSize};
    </select>
    <select id="getAllApplyCount" resultType="INT">
        select count(*) from t_apply
    </select>
    <select id="getAllUser" resultType="cn.doreou.model.User">
        select * from t_user;
    </select>

</mapper>