<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.CertMapper">
    <insert id="insertNewCert" parameterType="cn.doreou.model.Cert">
        insert into t_cert (user_id,up_time,user_name,cert_pic,status) values(#{user_id},#{up_time},#{user_name},#{cert_pic},#{status})
    </insert>
    <select id="isExist" parameterType="STRING" resultType="cn.doreou.model.Cert">
        select * from t_cert where user_id=#{_parameter}
    </select>
    <select id="getAllCert" resultType="cn.doreou.model.Cert">
      select * from t_cert
        <where>
            <if test="searchpojo.user_id!=null and searchpojo.user_id!=''">
                and user_id like CONCAT(CONCAT('%', #{searchpojo.user_id}), '%')
            </if>
            <if test="searchpojo.user_name!=null and searchpojo.user_name!=''">
                and user_name like CONCAT(CONCAT('%', #{searchpojo.user_name}), '%')
            </if>
            <if test="searchpojo.up_time!=null and searchpojo.up_time!=''">
                and up_time like CONCAT(CONCAT('%', #{searchpojo.up_time}), '%')
            </if>
            <if test="searchpojo.status!=null and searchpojo.status!=''">
                and status=#{searchpojo.status}
            </if>
        </where>
      limit #{start},#{pageSize}
    </select>
    <select id="getCertCount" resultType="INT">
      select count(*) from t_cert
        <where>
            <if test="searchpojo.user_id!=null and searchpojo.user_id!=''">
                and user_id like CONCAT(CONCAT('%', #{searchpojo.user_id}), '%')
            </if>
            <if test="searchpojo.user_name!=null and searchpojo.user_name!=''">
                and user_name like CONCAT(CONCAT('%', #{searchpojo.user_name}), '%')
            </if>
            <if test="searchpojo.up_time!=null and searchpojo.up_time!=''">
                and up_time like CONCAT(CONCAT('%', #{searchpojo.up_time}), '%')
            </if>
            <if test="searchpojo.status!=null and searchpojo.status!=''">
                and status=#{searchpojo.status}
            </if>
        </where>
    </select>
    <select id="getOneCert" parameterType="INT" resultType="cn.doreou.model.Cert">
        select * from t_cert where cert_id=#{cert_id};
    </select>
    <delete id="deleteCert" parameterType="INT">
        delete from t_cert where cert_id=#{cert_id}
    </delete>
    <update id="updateCertStatus" parameterType="cn.doreou.model.Cert">
        update t_cert set status=1,adm_id=#{adm_id},adm_time=#{adm_time} where cert_id=#{cert_id}
    </update>
</mapper>