<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.MessageMapper">
    <insert id="sendMessage" parameterType="cn.doreou.model.Message">
        insert into t_message (message_title,message_content, message_type, send_time, sender, reciever, isRead,tip) values (#{message_title},#{message_content},#{message_type},#{send_time},#{sender},#{reciever},#{isRead},#{tip});
    </insert>
    <select id="getAllMessage" resultType="cn.doreou.model.Message">
        select * from t_message
        <where>
            <if test="searchpojo.message_title!=null and searchpojo.message_title!=''">
                and message_title like CONCAT(CONCAT('%', #{searchpojo.message_title}), '%')
            </if>
            <if test="searchpojo.message_content!=null and searchpojo.message_content!=''">
                and message_content like CONCAT(CONCAT('%', #{searchpojo.message_content}), '%')
            </if>
            <if test="searchpojo.message_type!=null and searchpojo.message_type!=''">
                and message_type like CONCAT(CONCAT('%', #{searchpojo.message_type}), '%')
            </if>
            <if test="searchpojo.sender!=null and searchpojo.sender!=''">
                and sender like CONCAT(CONCAT('%', #{searchpojo.sender}), '%')
            </if>
            <if test="searchpojo.reciever!=null and searchpojo.reciever!=''">
                and reciever like CONCAT(CONCAT('%', #{searchpojo.reciever}), '%')
            </if>
            <if test="searchpojo.isRead!=null and searchpojo.isRead!=''">
                and isRead like CONCAT(CONCAT('%', #{searchpojo.isRead}), '%')
            </if>
            <if test="searchpojo.send_time!=null and searchpojo.send_time!=''">
                and send_time like CONCAT(CONCAT('%', #{searchpojo.send_time}), '%')
            </if>
        </where>
        limit #{start},#{pageSize};
    </select>
    <select id="getAllMessageCount" resultType="INT">
        select count(*) from t_message
        <where>
            <if test="searchpojo.message_title!=null and searchpojo.message_title!=''">
                and message_title like CONCAT(CONCAT('%', #{searchpojo.message_title}), '%')
            </if>
            <if test="searchpojo.message_content!=null and searchpojo.message_content!=''">
                and message_content like CONCAT(CONCAT('%', #{searchpojo.message_content}), '%')
            </if>
            <if test="searchpojo.message_type!=null and searchpojo.message_type!=''">
                and message_type like CONCAT(CONCAT('%', #{searchpojo.message_type}), '%')
            </if>
            <if test="searchpojo.sender!=null and searchpojo.sender!=''">
                and sender like CONCAT(CONCAT('%', #{searchpojo.sender}), '%')
            </if>
            <if test="searchpojo.reciever!=null and searchpojo.reciever!=''">
                and reciever like CONCAT(CONCAT('%', #{searchpojo.reciever}), '%')
            </if>
            <if test="searchpojo.isRead!=null and searchpojo.isRead!=''">
                and isRead like CONCAT(CONCAT('%', #{searchpojo.isRead}), '%')
            </if>
            <if test="searchpojo.send_time!=null and searchpojo.send_time!=''">
                and send_time like CONCAT(CONCAT('%', #{searchpojo.send_time}), '%')
            </if>
        </where>
    </select>
    <delete id="deleteMessage" parameterType="INT">
        delete from t_message where message_id=#{message_id}
    </delete>
    <select id="getMessageType" resultType="cn.doreou.model.Message">
        select distinct message_type from t_message
    </select>
    <update id="updateMessageByID" parameterType="cn.doreou.model.Message">
        update t_message set
        <if test="message_content!=null and message_content!=''">
            message_content=#{message_content}
        </if>
        <if test="message_title!=null and message_title!=''">
            message_title=#{message_title}
        </if>
        <if test="tip!=null and tip!=''">
            tip=#{tip}
        </if>
        <if test="send_time!=null and send_time!=''">
            send_time=#{send_time}
        </if>
        <if test="reciever!=null and reciever!=''">
            reciever=#{reciever}
        </if>
        where message_id=#{message_id}
    </update>
</mapper>