<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.OrderMapper">
    <insert id="sale" parameterType="cn.doreou.model.Goods">
        INSERT into t_goods (owner_id,goods_title,introduce,pri_cost,expt_price,status,number,subject,cover,type,time,isundercarriage) values (#{owner_id},#{goods_title},#{introduce},#{pri_cost},#{expt_price},#{status},#{number},#{subject},#{cover},#{type},#{time},#{isundercarriage})
    </insert>

    <insert id="buy" parameterType="cn.doreou.model.Goods">
        INSERT into t_goods (owner_id,goods_title,introduce,expt_price,status,number,subject,type,time,isundercarriage) values (#{owner_id},#{goods_title},#{introduce},#{expt_price},#{status},#{number},#{subject},#{type},#{time},#{isundercarriage})
    </insert>

    <select id="getMyBuy" resultType="cn.doreou.model.Goods">
        select * from t_goods where owner_id=#{param1} and type=#{param2} limit #{param3},#{param4}
    </select>
    <select id="getMySale" resultType="cn.doreou.model.Goods">
        select * from t_goods where owner_id=#{param1} and type=#{param2} limit #{param3},#{param4}
    </select>
    <select id="getSaleBySub" resultType="cn.doreou.model.Goods" parameterType="STRING">
        select * from t_goods where subject=#{subject} and type='出售' and isundercarriage=1
    </select>
    <select id="getBuyBySub" resultType="cn.doreou.model.Goods" parameterType="STRING">
        select * from t_goods where subject=#{subject} and type='购入' and isundercarriage=1
    </select>
    <select id="getAllSale" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='出售' and isundercarriage=1
    </select>
    <select id="getAllBuy" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='购入' and isundercarriage=1
    </select>
    <select id="getInfoByid" parameterType="STRING" resultType="cn.doreou.model.GoodAndUser">
        select * from t_goods,t_user where goods_id=#{_parameter} and user_id=owner_id
    </select>
    <select id="SearchBuy" resultType="cn.doreou.model.Goods">
        select * from t_goods where goods_title like concat(concat('%',#{key}),'%') and type='购入' and isundercarriage=1
    </select>
    <select id="SearchSale" resultType="cn.doreou.model.Goods">
        select * from t_goods where goods_title like concat(concat('%',#{key}),'%') and type='出售' and isundercarriage=1
    </select>

    <select id="SearchAllBuyByPage" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='购入' and isundercarriage=1 limit #{param1},#{param2}
    </select>
    <select id="SearchAllSaleByPage" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='出售' and isundercarriage=1 limit #{param1},#{param2}
    </select>
    <select id="getBuyCount" resultType="INT">
        select count(*) from t_goods where type='购入' and isundercarriage=1
    </select>
    <select id="getSaleCount" resultType="INT">
        select count(*) from t_goods where type='出售' and isundercarriage=1
    </select>
    <select id="getMyBuyCount" resultType="INT">
        select count(*) from t_goods where owner_id=#{param1} and type=#{param2}
    </select>
    <select id="getMySaleCount" resultType="INT">
        select count(*) from t_goods where owner_id=#{param1} and type=#{param2}
    </select>
    <select id="getCountBySub" resultType="INT" parameterType="STRING">
        select count(*) from t_goods where subject=#{subject} and isundercarriage=1
    </select>
    <select id="getSearchSaleCount" resultType="INT" parameterType="STRING">
        select count(*) from t_goods where goods_title like concat(concat('%',#{_parameter}),'%') and type='出售' and isundercarriage=1
    </select>
    <select id="getSearchBuyCount" resultType="INT" parameterType="STRING">
        select count(*) from t_goods where goods_title like concat(concat('%',#{_parameter}),'%') and type='购入' and isundercarriage=1
    </select>

    <update id="Isundercarriage">
      update t_goods set isundercarriage=#{user_choice} where goods_id=#{goods_id}
    </update>
    <select id="goodsStatus" parameterType="INT">
        select isundercarriage from t_goods where goods_id=#{goods_id}
    </select>
    
    <delete id="deleteGoods" parameterType="INT">
        delete from t_goods where goods_id=#{goods_id}
    </delete>

    <select id="orderByTime" resultType="cn.doreou.model.Goods">
        select * from t_goods where type=#{type} and isundercarriage=1
        <if test="sub !=null">
            and subject=#{sub}
        </if>
        order by `time` ${way} limit #{start},#{pagesize}
    </select>

    <select id="orderByHot" resultType="cn.doreou.model.Goods">
        select * from t_goods where type=#{type} and isundercarriage=1
        <if test="sub !=null">
            and subject=#{sub}
        </if>
        order by `clickcount` ${way} limit #{start},#{pagesize}
    </select>

    <select id="orderByPrice" resultType="cn.doreou.model.Goods">
        select * from t_goods where type=#{type} and isundercarriage=1
         <if test="sub !=null">
             and subject=#{sub}
         </if>
         order by `expt_price` ${way} limit #{start},#{pagesize}
    </select>

    <update id="refresh" parameterType="cn.doreou.model.Goods">
        update t_goods set goods_title=#{goods_title},introduce=#{introduce},pri_cost=#{pri_cost},expt_price=#{expt_price},status=#{status},subject=#{subject},cover=#{cover},`number`=#{number} where goods_id=#{goods_id}
    </update>

    <update id="refreshbuy" parameterType="cn.doreou.model.Goods">
        update t_goods set goods_title=#{goods_title},introduce=#{introduce},expt_price=#{expt_price},status=#{status},subject=#{subject},`number`=#{number} where goods_id=#{goods_id}
    </update>

    <select id="getMyCollect" parameterType="STRING" resultType="cn.doreou.model.Goods">
        select * from t_focandcol,t_goods where userid=#{user_id} and mycollect_id=goods_id
    </select>

    <delete id="undoCollect">
        delete from t_focandcol where userid=#{user_id} and mycollect_id=#{goods_id}
    </delete>
    <select id="isCollected" resultType="cn.doreou.model.Goods">
        select * from t_focandcol where userid=#{user_id} and mycollect_id=#{goods_id}
    </select>
    <select id="getMyNews" parameterType="STRING" resultType="cn.doreou.model.Message">
      select * from t_message where reciever=#{user_id}
    </select>
    <update id="AlreadyRead" parameterType="INT">
        update t_message set isRead=#{status} where message_id=#{message_id}
    </update>
    <select id="getAllCarousel" resultType="cn.doreou.model.Carousel">
        select * from t_carousel where carousel_visible=1
    </select>


</mapper>