<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doreou.mapper.OrderMapper">
    <insert id="sale" parameterType="cn.doreou.model.Goods">
        INSERT into t_goods (owner_id,goods_title,introduce,pri_cost,expt_price,status,number,subject,cover,type,time,isundercarriage) values (#{owner_id},#{goods_title},#{introduce},#{pri_cost},#{expt_price},#{status},#{number},#{subject},#{cover},#{type},#{time},#{isundercarriage})
    </insert>

    <insert id="buy" parameterType="cn.doreou.model.Goods">
        INSERT into t_goods (owner_id,goods_title,introduce,expt_price,status,number,subject,type,time,isundercarriage) values (#{owner_id},#{goods_title},#{introduce},#{expt_price},#{status},#{number},#{subject},#{type},#{time},#{isundercarriage})
    </insert>

    <select id="getMyBuy" resultType="cn.doreou.model.Goods">
        select * from t_goods where owner_id=#{param1} and type=#{param2} limit #{param3},#{param4}
    </select>
    <select id="getMySale" resultType="cn.doreou.model.Goods">
        select * from t_goods where owner_id=#{param1} and type=#{param2} limit #{param3},#{param4}
    </select>
    <select id="getSaleBySub" resultType="cn.doreou.model.Goods">
        select * from t_goods where subject=#{subject} and type='出售' and isundercarriage=1 limit #{start},#{pageSize}
    </select>
    <select id="getBuyBySub" resultType="cn.doreou.model.Goods">
        select * from t_goods where subject=#{subject} and type='购入' and isundercarriage=1 limit #{start},#{pageSize}
    </select>
    <select id="getAllSale" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='出售' and isundercarriage=1
    </select>
    <select id="getAllBuy" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='购入' and isundercarriage=1
    </select>
    <select id="getInfoByid" parameterType="STRING" resultType="cn.doreou.model.GoodAndUser">
        select * from t_goods,t_user where goods_id=#{_parameter} and user_id=owner_id
    </select>
    <select id="SearchBuy" resultType="cn.doreou.model.Goods">
        select * from t_goods where goods_title like concat(concat('%',#{key}),'%') and type='购入' and isundercarriage=1
    </select>
    <select id="SearchSale" resultType="cn.doreou.model.Goods">
        select * from t_goods where goods_title like concat(concat('%',#{key}),'%') and type='出售' and isundercarriage=1
    </select>

    <select id="SearchAllBuyByPage" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='购入' and isundercarriage=1 limit #{param1},#{param2}
    </select>
    <select id="SearchAllSaleByPage" resultType="cn.doreou.model.Goods">
        select * from t_goods where type='出售' and isundercarriage=1 limit #{param1},#{param2}
    </select>
    <select id="getBuyCount" resultType="INT">
        select count(*) from t_goods where type='购入' and isundercarriage=1
    </select>
    <select id="getSaleCount" resultType="INT">
        select count(*) from t_goods where type='出售' and isundercarriage=1
    </select>
    <select id="getMyBuyCount" resultType="INT">
        select count(*) from t_goods where owner_id=#{param1} and type=#{param2}
    </select>
    <select id="getMySaleCount" resultType="INT">
        select count(*) from t_goods where owner_id=#{param1} and type=#{param2}
    </select>
    <select id="getCountBySub" resultType="INT" parameterType="STRING">
        select count(*) from t_goods where subject=#{subject} and isundercarriage=1 and type=#{type}
    </select>
    <select id="getSearchSaleCount" resultType="INT" parameterType="STRING">
        select count(*) from t_goods where goods_title like concat(concat('%',#{_parameter}),'%') and type='出售' and isundercarriage=1
    </select>
    <select id="getSearchBuyCount" resultType="INT" parameterType="STRING">
        select count(*) from t_goods where goods_title like concat(concat('%',#{_parameter}),'%') and type='购入' and isundercarriage=1
    </select>
    <select id="getMyFinishedOrderCount" parameterType="STRING" resultType="INT">
        select count(*) from t_order,t_goods where order_status=1 and t_order.goods_id=t_goods.goods_id and owner_id=#{user_id}
    </select>
    <select id="getHotCountSumBySub" parameterType="STRING" resultType="INT">
        select IFNULL(sum(clickcount),0) from t_goods where subject=#{subject} and isundercarriage=1 and type='出售'
    </select>

    <update id="Isundercarriage">
      update t_goods set isundercarriage=#{user_choice} where goods_id=#{goods_id}
    </update>
    <select id="goodsStatus" parameterType="INT">
        select isundercarriage from t_goods where goods_id=#{goods_id}
    </select>
    
    <delete id="deleteGoods" parameterType="INT">
        delete from t_goods where goods_id=#{goods_id}
    </delete>

    <select id="orderByTime" resultType="cn.doreou.model.Goods">
        select * from t_goods where type=#{type} and isundercarriage=1
        <if test="sub !=null">
            and subject=#{sub}
        </if>
        order by `time` ${way} limit #{start},#{pagesize}
    </select>

    <select id="orderByHot" resultType="cn.doreou.model.Goods">
        select * from t_goods where type=#{type} and isundercarriage=1
        <if test="sub !=null">
            and subject=#{sub}
        </if>
        order by `clickcount` ${way} limit #{start},#{pagesize}
    </select>

    <select id="orderByPrice" resultType="cn.doreou.model.Goods">
        select * from t_goods where type=#{type} and isundercarriage=1
         <if test="sub !=null">
             and subject=#{sub}
         </if>
         order by `expt_price` ${way} limit #{start},#{pagesize}
    </select>

    <update id="refresh" parameterType="cn.doreou.model.Goods">
        update t_goods set goods_title=#{goods_title},introduce=#{introduce},pri_cost=#{pri_cost},expt_price=#{expt_price},status=#{status},subject=#{subject},
        <if test="cover!=null and cover!=''">
            cover=#{cover}
        </if>
        `number`=#{number} where goods_id=#{goods_id}
    </update>

    <update id="refreshbuy" parameterType="cn.doreou.model.Goods">
        update t_goods set goods_title=#{goods_title},introduce=#{introduce},expt_price=#{expt_price},status=#{status},subject=#{subject},`number`=#{number} where goods_id=#{goods_id}
    </update>

    <select id="getMyCollect" resultType="cn.doreou.model.Goods">
        select * from t_focandcol,t_goods where userid=#{user_id} and mycollect_id=goods_id limit #{start},#{pageSize}
    </select>
    <select id="getMyCollectCount" parameterType="STRING" resultType="INT">
        select count(*) from t_focandcol,t_goods where userid=#{user_id} and mycollect_id=goods_id
    </select>
    <delete id="undoCollect">
        delete from t_focandcol where userid=#{user_id} and mycollect_id=#{goods_id}
    </delete>
    <select id="isCollected" resultType="cn.doreou.model.Goods">
        select * from t_focandcol where userid=#{user_id} and mycollect_id=#{goods_id}
    </select>
    <select id="getMyNews" resultType="cn.doreou.model.Message">
      select * from t_message where reciever=#{user_id} order by send_time desc limit #{start},#{pageSize}
    </select>
    <select id="getMyNewsCount" parameterType="STRING" resultType="INT">
      select count(*) from t_message where reciever=#{user_id}
    </select>
    <update id="AlreadyRead" parameterType="INT">
        update t_message set isRead=#{status} where message_id=#{message_id}
    </update>
    <select id="getAllCarousel" resultType="cn.doreou.model.Carousel">
        select * from t_carousel where carousel_visible=1
    </select>
    <insert id="InsertOrder" parameterType="cn.doreou.model.Order">
        insert into t_order (goods_id, buyer_id, order_time, give_time, price, give_place, pay_type, pay_status, number, leavewords, owner_confirm, buyer_get, owner_get, order_status,message_id) value (#{goods_id},#{buyer_id},#{order_time},#{give_time},#{price},#{give_place},#{pay_type},#{pay_status},#{number},#{leavewords},#{owner_confirm},#{buyer_get},#{owner_get},#{order_status},#{message_id})
    </insert>
    <select id="getMaxMessageID" resultType="INT">
        select last_insert_id()
    </select>
    <!--通过messageid找到对应的Order-->
    <select id="getByMessageID" resultType="cn.doreou.model.Order">
        SELECT * FROM shop.t_order where message_id=#{message_id};
    </select>
    <update id="updateGoodsNumById">
        update t_goods set number=number-#{number} where goods_id=#{goods_id}
    </update>
    <update id="OwnerConfirm" parameterType="INT">
        update t_order set owner_confirm=1 where order_id=#{order_id}
    </update>
    <update id="OwnerGet" parameterType="INT">
        update t_order set owner_get=1 where order_id=#{order_id}
    </update>
    <update id="BuyerGet" parameterType="INT">
        update t_order set buyer_get=1 where order_id=#{order_id}
    </update>
    <update id="updateOrderStatus" parameterType="INT">
        update t_order set order_status=1 where order_id=#{order_id}
    </update>

    <select id="isClicked" resultType="cn.doreou.model.Click">
        select * from t_click where user_id=#{user_id} and goods_id=#{goods_id}
    </select>
    <insert id="newClick">
        insert into t_click(user_id, goods_id) value (#{user_id},#{goods_id})
    </insert>
    <update id="addClickCount">
        update t_goods set clickcount=clickcount+1 where goods_id=#{goods_id}
    </update>



</mapper>